@import "../../Assets/Styles/Bundle.scss";

.footerContainer {
    // width: 100%;
    background: $thirdColor;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 20%;
    padding: 3%;
    color: white;
    font-family: $twFont;
    line-height: 1;
    margin-bottom: -1rem;

    p {
        line-height: .5;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        text-transform: uppercase;
        font-size: 2.5vh;

    }

    svg {
        height: 5vh;
        width: 30%;
        margin-top: 10%;
    }
}