@import "../../../Assets/Styles/Bundle.scss";

.sectionBanner {
    display: flex;
    margin: auto 0;

    margin-bottom: 2em;
    font-family: $twFont;
    
    figure {
        margin: 0;
        display: grid;
        grid-template-columns: auto 60.5%;
        
        figcaption {
            border: 2px solid $secondColor;
            height: 100%;
            display: flex;
            text-align: right;
            flex-direction: column-reverse;

            article {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 60%;
                width: 90%;
                margin: 0 auto;

                h2 {
                    font-family: $pfFont;
                    color: $mainColor;
                    font-size: 3rem;
                    margin: 0;
                }

                p {
                    margin: 0;
                }

                b {
                    color: #707070;
                }

                hr {
                    width: 100%;
                    margin: 0 auto;
                }
            }
            
        }
        
        img {
            margin: -.2px;
            object-fit: cover;
            width: 100%;
            border: 10px solid $secondColor;
            
        }
    }
}