

* {
  box-sizing: border-box;
}

.App {
  width: 80%;
  background-color: white;
  margin: 0 auto;
}

html, body {
  width: 100%;
}
@media screen and (max-width: 800px ) {
  .App {
    width: 90%;
  }
}