@import "../../../Assets/Styles/Bundle.scss";

.actorGallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px 1%;
    width: 100%;
    flex-grow: 5;

    .actorCard {
        display: flex;
        flex-direction: column;
        outline: .15em $secondColor solid;
        width: 10vw;
        
        figcaption {
            display: flex;
            margin: 0 auto;
            outline: 2px;
            width: 100%;
        }
    
        h2 {
            width: 100%;
            font-size: 1em;
            font-family: $twFont;
            text-align: center;
            color: $mainColor;
            margin: 1%;
        }

        img {
            width: 100%;
            outline: .2em solid $secondColor;
            outline-offset: -.1em;
        }
    }
}

@media screen and (max-width: 800px ) {

    .actorGallery {
        display:grid;
        grid-template-columns: auto auto auto;

        .actorCard {
            width: 100%;
            display: flex;
            
            img {
                width: 100%;
            }
        }
    }

}

