@import "../../../Assets/Styles/Bundle.scss";

.actorGallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px 1%;
    width: 100%;
    flex-grow: 5;

    .actorCard {
        display: flex;
        flex-direction: column;
        
        width: 10vw;
        
        figcaption {
            display: flex;
            margin: 0 auto;
            outline: 2px;
            width: 100%;
        }
    
        h2 {
            width: 100%;
            font-size: 1em;
            font-family: $twFont;
            text-align: center;
            color: $mainColor;
            margin: 1%;
        }

        img {
            width: 100%;
        }
    }
}

